@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --racing-green: #10715b;
  --ginger: #bf5319;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-racing-green: var(--racing-green);
  --color-ginger: var(--ginger);
  --font-sans: var(--font-quicksand);
  --font-serif: var(--font-caladea);
  --content-w: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1,
h2,
h3 {
  @apply font-semibold text-2xl;
}

/* Form */

button {
  @apply cursor-pointer;
}

textarea {
  @apply resize-none;
}

/* Images */

.img-border {
  @apply border-10 border-foreground/10 rounded-md;
}

.page-bg {
  @apply bg-background/30 p-6 sm:p-10 rounded-xl;
}

.main-page {
  @apply flex flex-col gap-6 sm:gap-10 px-1 sm:px-10 max-w-[var(--content-w)] w-full;
}
